img {
  margin-bottom: 30px;
}

/*
#nintendo h1 {
  margin-bottom: 40px;
  text-align: center;
}

#nintendo h3 {
  margin: 0 0 20px 0;
}

#nintendo .well {
  text-align: center;
}

#nintendo .price-tag p {
  font-size: 150%;
  color: #666;
  margin: 0;
}

#nintendo .price-tag h2 {
  font-size: 500%;
  margin: 0;
}
*/

/* MEDIA */

/*
@media (max-width: 767px) {
  #nintendo .shelf-desktop { display: none }
  #nintendo .price-tag h2 { font-size: 450% }
}

@media (min-width: 768px) {
  #nintendo .shelf-desktop { display: all }
  #nintendo .shelf-mobile { display: none }
}

@media (min-width: 768px) and (max-width: 991px) {
  #nintendo h1 { font-size: 225%; }
  #nintendo { font-size: 110%;}
  #nintendo .price-tag p { font-size: 120% }
  #nintendo .small-image { display: all }
  #nintendo .story p { font-size: 95% }
}

@media (min-width: 992px) and (max-width: 1199px) {
  #nintendo h1 { font-size: 275%; }
  #nintendo { font-size: 110%;}
  #nintendo .price-tag h2 { font-size: 600%; }
  #nintendo .small-image {display: none }
  #nintendo .story p { font-size: 130% }
}

@media (min-width: 1200px) {
  #nintendo h1 { font-size: 300%; }
  #nintendo { font-size: 130%;}
  #nintendo .price-tag h2 { font-size: 700%; }
  #nintendo .small-image {display: none }
  #nintendo .story p { font-size: 140% }
}

*/